.cloudcredits {

    &-legendcontainer,
    &-creditscontainer {
        text-align: center;
    }

    &-legend {

        -webkit-user-select: none;
        cursor: pointer;

        &::after {
            content: '▾';
            padding-left: 5px;
            display: inline-block;
            position: absolute;
            font-size: 1.5em;
            opacity: 0.5;
            margin-top: -0.3em;
        }

        &.extended {

            &::after {
                content: '▴';
            }
        }
    }


    &-creditssummary {
        font-size: 0.9em;

        >div {
            padding: 5px;

            >a,
            p {
                display: inline-block;
                white-space: nowrap;
                margin: 0;
            }
        }
    }

    &-credits {

        img {
            width: 48px;
            height: 48px;
            margin-bottom: 5px;
        }

        .cloudcredits-title,
        .cloudcredits-subtitle {
            margin-bottom: 5px;
        }

        .cloudcredits-title {
            margin-top: 30px;
            text-transform: uppercase;
            opacity: 0.5;
        }

        .cloudcredits-subtitle {
            font-size: 0.9em;

            >span {
                opacity: 0.5;
            }
        }

        .cloudcredits-credits-copyright-disclaimer {

            font-size: 0.9em;
            opacity: 0.5;
        }

        .cloudcredits-businessinfo,
        .cloudcredits-toolinfo {
            white-space: nowrap;
            padding: 20px;
            margin-top: 10px;

            >* {
                display: block;
                font-size: 0.9em;
            }

            p {
                margin: 0;
            }

            img {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .cloudcredits-credits-involved,
        .cloudcredits-credits-tools,
        .cloudcredits-credits-hosting {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}